.category_options__dropdown {
  height: 0.5rem;
  list-style-type: none;
  padding: 0;
  margin: 1rem;
  text-transform: capitalize;
  position: absolute;
  right: 1rem;
  border-radius: 5px;
}
.category_options__dropdown li {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 166, 0, 0.938);
  transition: 80ms;
}

.category_options__dropdown li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.11);
}

.category_options__dropdown li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.11);
}

.category_options__dropdown li a {
  display: block;
  width: 8rem;
  line-height: 2.5rem;
  padding: 0rem 1rem;
  color: rgb(88, 85, 85);
  text-overflow: ellipsis;
}

.category_options__dropdown li {
  visibility: visible;
  transition: background-color 200ms;
}

.category_options__dropdown:hover li {
  visibility: visible;
}

.category_options__dropdown li a:hover,
.link_active {
  background-color: rgb(234 157 12);
}
