.card {
  line-height: 1.5;
  border: none;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  margin: 2em 1em;
  background: #ffffff;
}

.card_header {
  display: flex;
  justify-content: space-between;
}

.card_body {
  padding: 0.5em 1em;
}

.card_main_info {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.card_title {
  font-weight: 600;
  padding: 0.5em;
  display: flex;
  align-self: flex-start;
}

.card_image {
  max-height: 6em;
}

.card_description {
  padding: 1em;
}

.card_description_content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5em;
  max-height: 3em;
}

.card_description img {
  display: none;
}

.card_description p:last-child {
  display: none;
}

.card_description p:nth-last-child(2) {
  display: none;
  padding: 1em 0;
  color: darkgray;
  text-transform: capitalize;
}

.card_date {
  padding: 1em;
  text-align: end;
}

.card_options {
  display: flex;
  flex-direction: column;
}

.card_badges {
  display: flex;
  text-transform: capitalize;
  margin-top: -10px;
}

.card_badges p {
  background-color: orange;
  padding: 1em;
  border-radius: 0px;
  height: 0.5em;
  line-height: 0.5;
  color: white;
}

.card_badges p:first-child {
  color: black;
  border-right: none;
  background-color: rgb(252, 184, 59);
}

.card_favorite_icon {
  color: gray;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}

.card_favorite_icon--selected {
  color: red;
  background-color: transparent;
}
