.card {
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
    margin: 1em;
    padding: 1em;
  }

  .card_description__detail img {
    display: none;
  }
  
  .card_description__detail p:last-child a{
    color: rgb(109, 107, 107);
    border: solid;
    border-width: 1px;
    border-color: rgb(27, 26, 26, 0.2);
    padding: 0.5em 1em;
    border-radius: 9px;
  }
    
  .card_description__detail p:nth-last-child(2) {
    padding: 1em 0;
    color: darkgray;
    text-transform: capitalize;
  }  